/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: #3B165D;
    color: #E3E0D9;
}

/* Estrutura Geral */
section {
    scroll-margin-top: 10vh;
    transition: all 0.5s linear;
}

/**************************************************/
/* Header (Menu) */

.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #3B165D;
    position: fixed;
    width: 100%;
    z-index: 200;
}

.perfil img {
    max-width: 100px;
    height: auto;
}

.menu-nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu-nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu-nav ul li {
    display: inline-block;
}

.menu-nav ul li a {
    padding: 10px;
    margin-right: 8px;
}

.menu-nav ul li a button {
    text-align: center;
    color: #E3E0D9;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.a-menu:hover {
    color: #1DC6B5;
    border-bottom: 3px solid #1DC6B5;
}

/* Ícone do menu "hambúrguer" */
#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    color: #E3E0D9;
    cursor: pointer;
}

/***********Main***********/
.conteudo-principal {
    position: absolute;
    padding-top: 10vh;
    min-height: 100vh;
}

/***********Seção principal***********/
#secao-principal {
    padding: 1vh 1vw;
    background: #575656 url(/img/fundoBrancoPreto.jpg) center/cover;
    background-attachment: fixed;
}

.resumo-backgroud {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 70vw;
    min-height: 88vh;
    max-height: 90vh;
}

.resumo-conteudo {
    font-size: 3vh;
    color: #E3E0D9;
    align-content: center;
    margin: 0vh 10vw;
}

.conteudo-titulo h1, .conteudo-titulo h3 {
    margin-bottom: 5vh;
}

.div-button-sevices {
    display: flex;
    min-height: 10vh;
    justify-content: start;
    align-items: center;
}

.button-sevices {
    padding: 1vh 0vw;
    border-radius: 20px;
    background-color: #1DC6B5;
    color: #E3E0D9;
    font-weight: bold;
    font-size: 18px;
    width: 200px;
    border: none;
    cursor: pointer;
}

.button-sevices:hover {
    border-right: 3px solid #fbfbfb;
    border-bottom: 5px solid #ffffff;
}

/***********Seção sobre***********/
#sobre {
    background-color: #3B165D;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
}

.sobre-img {
    flex: 1;
    background: #3B165D url(/img/image1.jpg) center;
    background-attachment: fixed;
}

.sobre-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex: 1;
    color: #E3E0D9;
}

.texto-sobre {
    margin: 30% 15%;
    max-width: 50%;
}

.texto-sobre h1 {
    margin-bottom: 4%;
    font-size: 200%;
    color: #1DC6B5;
}

.texto-sobre p {
    line-height: 1.5;
}

/*******************/
.section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

#habilidades h1, #hobbies h1 {
    color: #E3E0D9;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

/***********Seção habilidades***********/
#habilidades {
    background: #1DC6B5;
    min-height: 90vh;
    display: flex;
    justify-content: center;
}

.div-posters-habilidades {
    padding: 3%;
    margin: 0 auto;
    min-width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.div-posters-habilidades ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.div-posters-habilidades ul li {
    padding: 10px;
    display: inline-block;
    justify-content: center;
}

.posters-habilidades {
    display: block;
    width: 300px;
    height: 500px;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    color: black;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
}

.posters-habilidades img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.posters-habilidades h3, .posters-habilidades p {
    margin: 15px;
}

.posters-habilidades h3 {
    font-size: 1.2em;
    color: #3B165D;
}

.posters-habilidades p {
    font-size: 1em;
    line-height: 1.4;
    color: #333333;
}

.posters-habilidades:hover {
    transform: scale(1.05);
}

/***********Seção hobbies***********/
#hobbies {
    background-color: #3B165D;
    min-height: 90vh;
    display: flex;
    justify-content: center;
}
#hobbies p{

}

.div-posters-hobbies {
    padding: 3%;
    margin: 0 auto;
    min-width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.div-posters-hobbies ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.div-posters-hobbies ul li {
    padding: 10px;
    display: inline-block;
    justify-content: center;
}

.posters-hobbies {
    display: block;
    width: 300px;
    height: 500px;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    color: black;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
}

.posters-hobbies img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.posters-hobbies h3, .posters-hobbies p {
    margin: 15px;
}

.posters-hobbies h3 {
    font-size: 1.2em;
    color: #3B165D;
}

.posters-hobbies p {
    font-size: 1em;
    line-height: 1.4;
    color: #333333;
}

.posters-hobbies:hover {
    transform: scale(1.05);
}


/***********Contato***********/
#contato {
    background: #1DC6B5;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.form-ajust {
    flex: 1;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    background-color: #12061D;
    padding: 3%;
    border-radius: 20px;
    width: 50%;
    height: auto;
    color: #E3E0D9;
    display: flex;
    flex-direction: column;
}

.form-wrapper h2 {
    color: #E3E0D9;
    margin-bottom: 20px;
}

.form-group {
    justify-content: center;
    margin-bottom: 1%;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #E3E0D9;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid #E3E0D9;
    background-color: #1E1B29;
    color: #E3E0D9;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #1DC6B5;
    color: #12061D;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 40%;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #17a294;
}

.contact-info {
    margin-top: 5%;
    text-align: center;
    flex: 1;
    cursor: default;
    color: #E3E0D9;
}

.menu-contato {
    display: inline-block;
    margin: 0;
    align-content: center;
    height: auto;
    min-width: auto;
    align-items: center;
    background: none;

}

.menu-contato ul li {
    display: inline-block;
}

.button-redes i {
    font-size: 18px;
}

.button-redes {
    border: none;
    background: none;
    width: 100%;
    text-align: center;
    height: 30px;
    font-size: 20px;
    color: #E3E0D9;
    background: none;
}

.contact-info p a {
    text-decoration: none;
    color: #E3E0D9;
}


.menu-contato :hover, .contact-info p :hover, .contact-info p a :hover, .contact-info ul li:hover {
    color: #3B165D;
}


.contact-info p, .contact-info h3, .contact-info ul {
    color: #E3E0D9;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style: none;
}

.contact-info ul li {
    margin-bottom: 5px;
}

.contact-info i {
    margin-right: 10px;
}

/***********Footer***********/
#footer {
    background-color: #3B165D;
    color: #E3E0D9;
    text-align: center;
    padding: 15px;
    z-index: 100;
}

/* Media Queries */
@media (max-width: 768px) {
    .menu-nav {
        display: none;
        flex-direction: column;
        background-color: #3B165D;
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
    }

    .menu-icon {
        display: block;
    }

    #menu-toggle:checked + .menu-icon + .menu-nav {
        display: flex;
    }

    .menu-nav ul {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .menu-nav ul li {
        display: block;
        margin: 10px 0;
    }

    .perfil {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    #contato {
        flex-direction: column;
        padding: 20px;
    }

    .form-wrapper {
        width: 90%;
        margin-bottom: 20px;
    }

    .contact-info {
        padding-left: 0;
        margin-top: 20px;
    }

    .menu-contato {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    #secao-principal, #sobre {
        flex-direction: column;
        align-items: center;
        padding: 2vh 1vw;
    }

    .resumo-backgroud {
        max-width: 90vw;
        min-height: auto;
        padding: 20px;
    }

    .resumo-conteudo {
        margin: 0;
        font-size: 2vh;
        text-align: center;
    }

    .sobre-img {
        min-height: 30vh;
        width: 100%;
    }

    .texto-sobre {
        max-width: 90%;
        margin-top: 20px;
    }
}
