* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: block;
  background-color: #3B165D;
}

section {
  scroll-margin-top: 10vh;
  transition: all 0.5s linear;
}

/**************************************************/
/* Header*/

/***********MENU BAR***********/
.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  min-width: 100%;
  background-color: #3B165D;
  position: fixed;
  z-index: 200;
}

.menu-nav {
  justify-content: end;
  text-align: right;
  align-content: center;
  height: 10vh;
  background-color: #3B165D;
  align-items: center;
  margin: 0 2vw 0 8vw;
}

.menu-nav ul {
  list-style-type: none;
}

.menu-nav ul li {
  display: inline-block;
}

.menu-nav ul li a {
  padding: 10px;
  margin-right: 8px;
}

.menu-nav ul li a button {
  /*font-weight: bold;*/
  text-align: center;
  color: #E3E0D9;
}

.a-menu :hover {
  color: #1DC6B5;
  border-bottom: 3px solid;
  border-color: #1DC6B5;
  cursor: pointer;
}

.button-menu {
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  height: 30px;
  color: #E3E0D9;
  font-size: 16px;
}

.perfil {
  margin-top: 3px;
  width: 15vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
  font-weight: bold;
  font-size: 80%;
  color: #E3E0D9;
  margin-left: 2vw;
}

header img {
  max-width: 50%;
  height: auto;
}

/*******************************/

/***********Main***********/
.conteudo-principal {
  position: absolute;
  padding-top: 10vh;
  min-height: 100vh;
}


/***********Seção principal***********/
#secao-principal {
  padding: 1vh 1vw;
  background: #575656 url(/img/fundoBrancoPreto.jpg) center/cover;
  background-attachment: fixed;
}

.resumo-backgroud {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 70vw;
  min-height: 80vh;
}

.resumo-conteudo {
  font-size: 3vh;
  color: #E3E0D9;
  align-content: center;
  margin: 0vh 10vw;
}


.button-sevices {
  margin: 3vh 0vw;
  padding: 1vh 0vw;
  border-radius: 20px;
  background-color: #1DC6B5;
  color: #E3E0D9;
  font-weight: bold;
  font-size: 18px;
  width: 200px;
  border: none;
  cursor: pointer;
}

.button-sevices :hover{

}

/***********Seção sobre***********/
#sobre {
  background-color: #3B165D;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
}

.sobre-img {
  flex: 1;
  background: #3B165D url(/img/image1.jpg) center;
  background-attachment: fixed;
  /*filter: grayscale(1);*/

}

.sobre-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex: 1;
  color: #E3E0D9;
}

.texto-sobre {
  margin: 30% 15%;
  max-width: 50%;
}

.texto-sobre h1 {
  margin-bottom: 4%;
  font-size: 200%;
  color: #1DC6B5;

}

.texto-sobre p {
  line-height: 1.5;
}

/***********Seção habilidade***********/
#habilidades {
  background: #1DC6B5;
  min-height: 90vh;
}


/***********Seção hobbies***********/
#hobbies {
  background-color: #3B165D;
  min-height: 90vh;
}

/***********Contato***********/
#contato {
  background: #1DC6B5;
  min-height: 90vh;
}

footer {
  position: relative;
  z-index: 10;
  bottom: 0;
  min-width: 100vh;
  background-color: #3B165D;
  color: #E3E0D9;
  text-align: center;
  padding: 15px;
}

