* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  display: block;
  background-color: #575656;
}

.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 2vw;
  background-color: #3B165D;
}

.menu-nav {
  margin-right: 8vw;
  text-align: right;
  align-content: center;
  height: 10vh;
  min-width: 100vh;
  background-color: #3B165D;
  align-items: center;
}

.menu-nav ul {
  list-style-type: none;
}

.menu-nav ul li {
  display: inline-block;
}

.menu-nav ul li a {
  padding: 10px;
  margin-right: 8px;
}

.menu-nav ul li a button {
  /*font-weight: bold;*/
  text-align: center;
  color: #E3E0D9;
}

.a-menu :hover {
  color: #1DC6B5;
  border-bottom: 3px solid;
  border-color: #1DC6B5;

}

.button-menu {
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  height: 30px;
  color: #E3E0D9;
  font-size: 16px;
}

.perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-weight: bold;
  margin: 0vh 8vw;
  font-size: 30px;
  color: #E3E0D9;
}


.conteudo-principal {
  min-height: 100vh;
}

.moldura-section{
  display: flex;
  width: 100%;
  padding: 2em;
}

#secao-principal {
  padding: 1vw 1vw;
  background: #575656 url(/img/fundoBrancoPreto.jpg) center/cover;
  background-attachment: fixed;
}

.resumo-backgroud {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 70vw;
  min-height: 80vh;
}

.resumo-conteudo {
  font-size: 3vh;
  color: #E3E0D9;
  align-content: center;
  margin: 0vh 10vw;
}


.button-sevices {
  margin: 3vh 0vw;
  padding: 1vh 0vw;
  border-radius: 20px;
  background-color: #1DC6B5;
  color: #E3E0D9;
  font-weight: bold;
  font-size: 18px;
  width: 200px;
  border: none;
}


#habilidades {
  background-color: #3B165D;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}


.habilidades-img{
  flex: 1;
  background: #3B165D url(/img/image1.jpg) center/cover;
  background-attachment: fixed;
  filter: grayscale(1);

}
.habilidades-conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex: 1;
  background-color: #fbfbfb;
  padding: 5em;
}


#contato {
  background: #1DC6B5;
  min-height: 100vh;
}

footer {
  position: relative;
  bottom: 0;
  min-width: 100vh;
  background-color: #3B165D;
  color: #E3E0D9;
  text-align: center;
  padding: 15px;
}

